endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
sv_maxclients 32
set steam_webApiKey "ENTER_YOUR_KEY"
sets tags "custom cars, police, ems, admin, drugs, hiring, sales, jobs, serious, roleplay, nopixel, custom scripts, custom framework, tuner, tuner chips, fivem, pink cage"

sv_licenseKey "ENTER_YOUR_KEY"
sv_hostname "FM Development | Visit us @ discord.gg/a8Nau87Xum"
sets sv_projectName "FM Development | Visit us @ discord.gg/a8Nau87Xum"
sets sv_projectDesc ""
sets locale "en-US" 

exec resources.cfg
exec permissions.cfg

## Add system admins
add_ace group.admin administrator allow
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_ace group.admin nns_weather.commands.weather allow # but don't allow quit
add_ace group.admin nns_weather.commands.time allow # but don't allow quit


add_principal identifier.steam:xxxxxxxxxxxxxxxx group.admin #ghost


setr voice_use3dAudio false
setr voice_useSendingRangeOnly true
setr voice_useNativeAudio true

#-----------------------------#

sets locale "en-US" 
set sv_enforceGameBuild 2372


load_server_icon myLogo.png
sets banner_detail "https://i.imgur.com/PBb33sC.jpeg"
sets banner_connecting "https://i.imgur.com/PBb33sC.jpeg"


set mysql_connection_string "server=127.0.0.1;database=nopixel;userid=root"
set mysql_slow_query_warning 100
set mysql_debug "false"
set mysql_transaction_isolation_level 2

## [txAdmin CFG validator]: onesync MUST only be set in the txAdmin settings page.
# set onesync on